In [1]:
#importing necessary libraries
import pandas as pd

In [2]:
#importing the data
dataset = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [3]:
#getting the shape of the data
dataset.shape

(60943, 12)

In [4]:
dataset.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
#getting names of columns
dataset.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [6]:
#grouping and summing by item to find sum of Animal Fat produced in 2014 and 2017
it = dataset.groupby('Item').sum()
animal_fats=it.loc['Animal fats']
it_2014 = animal_fats["Y2014"]
it_2017 = animal_fats['Y2017']
print(f'The sum of animal fats in 2014 is {it_2014} and 2017 is {it_2017}')

The sum of animal fats in 2014 is 209460.5399999999 and 2017 is 269617.53

In [7]:
#finding the mean of the dataset for the year 2015 to 3 d.p
round_mean = round(dataset.mean(),3)
round_mean['Y2015']

135.236

In [8]:
#finding the standard deviation for the year 2015 to 3 d.p
round_std = round(dataset.std(),3)
round_std['Y2015']

1603.404

In [9]:
#finding the total number of missing data in 2016
year_of_miss =dataset.isnull().sum()
year_of_miss['Y2016']

1535

In [10]:
#finding percentage of missing data in 2016
miss_percent = year_of_miss['Y2016']* 100/len(dataset)
miss_percent = round(miss_percent, 2)
miss_percent

2.52

In [11]:
#finding the correlation
dataset.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [12]:
#finding the highest sum of import quantity
j =dataset.groupby('Element').sum()
max_year = j.loc['Import Quantity'][3:].nlargest(1)
max_year

Y2017    294559.09
Name: Import Quantity, dtype: float64

In [13]:
#total number of the sum of Production in 2014
q = dataset.groupby('Element').sum()
prod = q.loc['Production']
prod = dict(prod)
prod.get('Y2014')

1931287.7500000005

In [14]:
#element that had the highest sum in 2018
dataset.groupby('Element')['Y2018'].sum().nlargest(1)

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

In [15]:
#finding which element had the 3rd lowest sum in 2018
y=dataset.groupby('Element')['Y2018'].sum().nsmallest(3)
y_dict = dict(y)
y_list = list(y_dict)
y_list[2]

'Protein supply quantity (g/capita/day)'

In [16]:
#total Import Quantity in Algeria in 2018
alg = dataset[dataset.Area =='Algeria'].groupby('Element').sum()
alg['Y2018']['Import Quantity']

36238.29

In [17]:
#total number of unique countries
dataset['Area'].nunique()

49